<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.dita.html5.ml">
  <feature extension="dita.conductor.transtype.check" value="html5.ml" type="html"/>
  <feature extension="dita.conductor.target.relative" value="integrator.xml" type="file"/>
  <feature extension="dita.transtype.print" value="html5.ml"/>
</plugin>
